#info_panel_cont {
    display: flex;
    position: relative;
    width: 18%;
    z-index: 1;
    border-top-left-radius: 0px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 0px;
    background-color: lightgray;
}
.info_panel_content {
    transition: 1s;
    background-color: white;
    height: 100vh;
}

.info_panel_content.show {
    width: 100%;
    /* max-width: 75%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 0px;
    background-color: lightgray;
}

.info_panel_content.hide {
    overflow: hidden;
    max-width: 0;
}

.info_panel_toggle {
    /* position: absolute; */
    /* top: 2%;
    right: 5%; */
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background: none;
}

.info_panel_toggle.open {
    /* transform: translateX(180px); */
    width: 10%;
}

h1 {
    Font-Family: 'Ubuntu', Sans-Serif;
    Font-Size: 32px;
    text-align: center;
}

.header-background {
    display: inline-block;
    background-color: darkgrey;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.confirmation-area {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.confirmation-area p {
    margin: 10px
}

hr {
    margin: 5px;
    width: 100%;
}

.code-text {
    font-size: 20px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 30%;
    text-align: center;
}

.code-text:hover {
    background-color: darkgray;
    cursor: pointer;
}

.submit-button {
    cursor: pointer;
    background-color: lightgreen;
    border: 0.25px black solid;
    color: black;
    padding: 10px 16px;
    text-align: center;
    font-size: 16px;
    margin: 17px 2px;
    transition: 0.3s;
    border-radius: 17px;
}

.submit-button:disabled {
    cursor: pointer;
    background-color: #ddd;
    border: 0.25px black solid;
    color: black;
    padding: 10px 16px;
    text-align: center;
    font-size: 16px;
    margin: 17px 2px;
    transition: 0.3s;
    border-radius: 17px;
}

.input-text-buffer {
    width: 20% !important;
    height: 43% !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.buffer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.low-hr {
    margin-top: 15px;
}