.spinner{
    /* visibility: hidden; */
    width: 80px;
    height: 80px;
  
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
  
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    z-index: 9000;
  
    animation: spin 1s infinite linear;
  }

  .spinner-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 8;
    background: rgba(0, 0, 0,0.3);
  }

  

  html { overflow-y: hidden; }

  @keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
  }